*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --primaryCyan: hsl(180, 66%, 49%);
  --primaryDarkViolet: hsl(257, 27%, 26%);
  --secondaryRed: hsl(0, 87%, 67%);
  --neutralGray: #F0F1F6;
  --neutralGrayishViolet: hsl(257, 7%, 63%);
  --neutralVeryDarkBlue: hsl(255, 11%, 22%);
  --neutralVeryDarkViolet: hsl(260, 8%, 14%);
  --ctaActive: #9BE3E2;
}

html { font-size: 100% }

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  line-height: 2;

  color: var(--neutralGrayishViolet);
  background-color: white;
}

.container {
  width: 87.2%;
  margin: 0 auto;
  max-width: 69.5rem;
}

.body-gray-bg {
  background-color: var(--neutralGray);
}

.attribution {
  font-size: 11px; text-align: center;
  position: absolute;
  width: 100%;
  right: 50%;
  transform: translate(50%, 100%);
}
.attribution a { color: white; }
.attribution a:hover { color: var(--primaryCyan); }